.vscode
venv
node_modules
backend/firebase_service_key.json
package-lock.json
package.json
yarn.lock
.venv
poetry.lock
heroku-logs.txt
heroku-logs-prod.txt
pyproject.toml000

# macos
.DS_Store
app.log
backend/app.log
