BASE_URL=

TEST_MENTOR_EMAIL=
TEST_MENTOR_PASSWORD=
TEST_MENTOR_ROLE=
TEST_MENTOR_PROFILE_ID=
TEST_MENTOR_PHONE_NUMBER=
TEST_MENTOR_NAME = ""

TEST_MENTEE_EMAIL=
TEST_MENTEE_PASSWORD=
TEST_MENTEE_ROLE=
TEST_MENTEE_PROFILE_ID=
TEST_MENTEE_PHONE_NUMBER=
TEST_MENTEE_NAME = ""

TEST_PARTNER_EMAIL= 
TEST_PARTNER_PASSWORD=
TEST_PARTNER_ROLE=
TEST_PARTNER_PROFILE_ID=
TEST_PARTNER_PHONE_NUMBER=
TEST_PARTNER_NAME = ""

TEST_GUEST_EMAIL=
TEST_GUEST_PASSWORD=
TEST_GUEST_ROLE=
TEST_GUEST_PROFILE_ID=
