//Theme Colors
$theme-orange: #E4BB4F;
$theme-orange-light: #FFF7E2;
$theme-orange-dark: #A58123;

//Appointments constants
$appointment-card-background-color:#FFECBD;
$appointment-background-color: #FCF6E8;
$appointments-date-text-block-color: #A58123;
$appointments-row-border-color: #E4BB4F;
$appointments-description: #7A7A7A;
$appointments-tab-background-color:#FFECBD;
$appointments-tab-color:#A58123;
$appointments-tab-item-selected-background-color: #E4BB4F;
$appointments-tab-item-selected-color: #FFF7E2;

// Navigation constants
$nav-header-color: #fbecc1;
$nav-menu-item-color: White;
$nav-menu-item-hover-background-color: #fcf6ea;
$nav-menu-item-hover-color: black;
$nav-menu-item-selected-color: #fcf6ea;
$notif-bell-color: Black;
$profile-caret-color: Gray;
$mentee-logo-color: #fbecc1;

// Profile constants
$background-color-strip-color: #FCF6E8;
$mentor-profile-heading-color: #828282;
$yellow-dot-color: #E4BB4F;
$specialization-tag-border: #FFECBD;
$edit-contact-color: #A58123;

//Mentee Appointment Modal constants
$mentee-appointment-heading-border-color: #E0E0E0;
$mentee-appointment-text-color: #7A7A7A;
$mentee-appointment-info-border: #cccccc;

// MenteeButton constants
$mentee-button-regular: #E4BB4F;
$mentee-button-dark: #A58123;
$mentee-button-light: #FCF6E8;

// Auth pages constants
$register-link-hover: #FFE5A3;
