.home-background {
  background-color: #F8D15B;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-text-container {
  height: 50%;
  width: 50%;
}

.home-header {
  color: white;
  font-weight: bold;
  font-size: 300%;
}

.home-text {
  color: #644A0A;
  font-weight: bold;
}

.logo{
  height: 60vh;
  width: 60vh;
}

.focus-for-health {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  width: 40vh
}

@media only screen and (max-width: 600px) {
  .logo{
    height: 20vh;
    width: 20vh;
  }
}

@media only screen and (max-wdith: 400px) {
  .logo{
    display: block;
    height: 20vh;
    width: 20vh;
  }
}