.page-one-header {
  width: 65vw;
}

.page-one-column-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3em;
  padding-top: 3em;
  background-color: white;
}
.donation-question {
  overflow-wrap: break-word;
}

.donation-question {
  overflow-wrap: break-word;
}

.column-one,
.column-one-page-two {
  display: flex;
  padding: 3em;
  padding-bottom: 3em;
  width: 50%;
}

.column-two,
.column-two-page-two {
  padding: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

.input-form {
  padding-bottom: 3em;
}

.input-form-two {
  padding-bottom: 3em;
}

.next-button {
  position: relative;
  bottom: 5em;
  left: 75em;
}

.previous-button {
  position: relative;
  bottom: 5em;
  left: 75em;
}

.header-one {
  position: relative;
  top: 3em;
  left: 4em;
  color: #e4bb50;
}

.header-two {
  position: relative;
  top: 3em;
  left: 4em;
  color: #e4bb50;
}

.header-three {
  position: relative;
  top: 3em;
  left: 4em;
  color: #e4bb50;
}

.header-four {
  position: relative;
  top: 2em;
  left: 2em;
  display: inline;
  color: #e4bb50;
}

.page-two-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.navigation-content {
  overflow-x: hidden;
  margin-left: 0px;
  background-color: #fcf6e8;
}

.ant-steps-item-tail::after {
  display: none;
  color: orange;
}

.ant-steps-item {
  width: 5%;
  flex: none;
  position: relative;
  top: 3em;
  left: 4em;
}

.steps-content {
  width: 129vh;
}

.instructions {
  margin: 3em;
  background-color: white;
  padding: 1em;
}

.para-2 {
  margin-top: 5em;
}

.background {
  background-color: #fcf6e8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-left: 8%;
}

.column-one-page-two {
  padding: 3em;
}

.column-two-page-two {
  padding: 4em;
}

.page-two-margin,
.page-three-padding {
  margin-bottom: 3em;
}

.submit-button {
  position: relative;
  top: 14.5em;
  left: 34em;
}

.welcome-page {
  color: #e4bb50;
}

.success-message {
    color: #e4bb50;
}
