@import "_app";

.regular-button, .regular-button:focus {
  background: #E4BB4F;
  border-color: #E4BB4F;
  border-radius: 13px;  
  color: white;
}

.regular-button:hover, .regular-button:active {
  background: white;
  border-color: #E4BB4F;
  color: #E4BB4F; 
}

.dark-button, .dark-button:focus {
  background: #A58123;
  border-color: #A58123;
  border-radius: 13px;
  color: $header-button-border;
}

.dark-button:hover, .dark-button:active {
  background: #A58123;
  border-color: $header-button-border;
  color: $header-button-border;
}

.light-button, .light-button:focus {
  background: $header-button-border;
  border-color: $header-button-border;
  border-radius: 13px;
  color: #A58123;
}

.light-button:hover, .light-button:active {
  background: $header-button-border;
  border-color: #A58123;
  color: #A58123;
}
