.video-row {
    display: flex;
    border-top: solid #FFECBD 1px;
    height: 125px;
}

.video-block {
    display: flex;
    width: 40%;
}

.video {
    background: #e5e5e5;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 13px;
    margin-left: 8px;
}

.video-interactions {
    width: 60%;
    border-left: solid #FFECBD 1px;
    position: relative;
}

.pin-button {
    margin: 10px 10px 0px 0px;
    border-radius: 100%;
    border: none;
    font-size: 20px;
}

.pin-container {
    height: fit-content;
}

.video-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4px;
    white-space: nowrap;
    width: 48%;
}