@import "_app";

.mentee-appts-section {
  width: 80%;
  padding-left: 2em;
  margin-bottom: 2em;
}

.mentee-appts-header {
  margin-top: 4em;
  font-size: large;
  font-weight: bold;
}

.mentee-appts-container {
  margin-top: 2em;
  width: auto;
}

.mentee-appts-overlay-style {
  color: black;
}

.mentee-appt-card {
  background: #ffecbd;
  border-radius: 13px;
  margin: 1.5em 15% 0 0;
  padding: 1.7em 2.25em;
  color: $appointments-date-text-block-color;
}

.mentee-appt-card-header {
  font-size: 1.2em;
  padding-left: 1em;
  font-weight: bold;
  color: black;
}

.mentee-appt-card-header a {
  color: black;
  text-decoration: underline;
}

.mentee-appt-card-time {
  margin: 0.25em 0 1em 0;
  padding-left: 1.25em;
  line-height: normal;
}

.mentee-appt-card-topic {
  text-overflow: ellipsis;
}

.status-section {
  float: right;
  display: flex;
  margin-top: -10px;
}

.status-denied,
.status-accepted,
.status-pending {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  align-self: center;
  margin-left: 5px;
}

.status-denied {
  background: #ff4d4f;
}

.status-accepted {
  background: #6fcf97;
}

.status-pending {
  background: #ffdb6f;
}

@media only screen and (max-width: 768px) {
  .mentee-appts-section {
    width: 100%;
  }
  .mentee-appt-card {
    margin-right: 2em;
    padding: 1em 1.5em;
  }
  .status-section {
    float: none;
  }
  .mentee-appt-card-time,
  .mentee-appt-card-header {
    padding-left: 0;
  }
}
