@import "_app";

.messages-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}

.messages-sidebar-background {
  background-color: white;
  border-right: 1px solid #ebebeb;
}

.messages-sidebar {
  overflow: auto;
  width: 100%;
  height: 80%;
  padding-bottom: 2%;
}

.messages-chat-area-header {
  --chat-header-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  background-color: white;
  min-height: var(--chat-header-height);
  border-bottom: 1px solid #ebebeb;
}

.messages-chat-area-header-info {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  line-height: 20px;
}

.messages-chat-area-header-name {
  font-size: 18px;
  font-weight: bold;
}

.messages-chat-area-header-title {
  font-size: 14px;
  color: #676971;
}

.messages-sidebar-header {
  background-color: white;
  overflow-y: hidden;
  padding-left: 10%;
  font-size: 3ch;
  height: 89px;
}

.messages-search-input {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.header-divider {
  margin-top: 0;
  margin-bottom: 0;
}

.chat-area-header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}

.message-row-reciever {
  width: 50%;
  float: left;
}
.message-row-sender {
  width: 50%;
  float: left;
}

.you-sent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.you-received {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.conversation-footer {
  --chat-footer-height: 60px;
  --messages-sidebar: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  position: fixed;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.conversation-container {
  display: flex;
  flex-direction: column;
  // padding-bottom: 60px; // synced with --chat-footer-height, for some reason var() doesn't work
  height: calc(100vh - #{($nav-header-height + $footer-gap)});
}

.conversation-content {
  background-color: white;
  overflow-y: auto;
  flex: 1;
  padding: 12px;
  max-height: calc(
    100vh - #{($nav-header-height + $footer-gap)} - var(--chat-header-height)
  );
}

.no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.start-convo {
  font-size: larger;
}

.bubble-received {
  color: #323e4a;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 300px;
  margin-left: 8px;
  width: fit-content;
  overflow-wrap: break-word;
  float: left;
  clear: left;
  background-color: #f4f5f9;
}

.convo {
  max-width: 300px;
  display: block;
}

.bubble-sent {
  color: #323e4a;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 300px;
  width: fit-content;
  overflow-wrap: break-word;
  float: right;
  clear: right;
  background-color: rgba(228, 187, 79, 0.4);
}

.chatRight__items > .chatRight__inner {
  display: flex;
  align-items: flex-end;
}

.chatRight__inner {
  margin-bottom: 6px;
}

.chatRight__inner span img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.conversation-box .chatRight__items.you-sent span.time {
  padding-right: 10px;
}

.conversation-box .chatRight__items.you-sent span img {
  margin-left: 10px;
}

.conversation-box .chatRight__items.you-received span img {
  margin-right: 10px;
}

.conversation-box .chatRight__items.you-received span.time {
  padding-left: 10px;
}

.search-mentor-input {
  width: 300px;
  border-radius: 5px;
}
.flex-column-cnt {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  justify-content: space-between;
}
.calendar-modal {
  top: 30px;
  width: 770px !important;
}
.link-book-availability {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
@media (max-width: 761px) {
  .messages-sidebar-background {
    width: 100% !important;
    max-width: 761px !important;
    min-width: auto !important;
    flex-basis: auto !important;
  }
  .conversation-footer {
    width: 100vw;
  }
}
