@import "_app";

.messages-container {
  // overflow: hidden;
  position: relative;
  width: 100%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
.messages-sidebar-background {
  background-color: white;
}
.messages-sidebar {
  overflow: auto;
  width: 100%;
  height: 85%;
}

.messages-sidebar-header {
  background-color: white;
  overflow-y: auto;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 3ch;
}

.messages-chat-area {
  background-color: white;
  // margin-left: 0px;
  overflow-y: auto;
}

.chat-area-divider {
  // height: 100%;
  margin-left: 0px;
}

.message-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 7px;
}

.message-card:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.message-active-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  background: rgba(249, 220, 132, 0.3);
  border: 1px solid #f9dc84;
  box-sizing: border-box;
  border-radius: 7px;
}

.message-card-description {
  color: #707c97;
}

.messages-search-input {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.header-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}

.chat-area-header {
  width: 100%;
  background-color: white;
}

.message-row-reciever {
  width: 50%;
  float: left;
}
.message-row-sender {
  width: 50%;
  float: left;
}

.you-sent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.you-received {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.conversation-box {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 100%;
}

.bubble-recieved {
  background-color: #f4f5f9;
  color: #323e4a;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 300px;
  width: fit-content;
  margin-bottom: 5px;
  float: left;

  clear: left;
}

.convo {
  max-width: 300px;
  display: block;
}

.bubble-sent {
  background-color: rgba(228, 187, 79, 0.4);
  color: #323e4a;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 300px;
  margin-bottom: 5px;
  float: right;
  width: fit-content;
  clear: right;
}

.chatRight__items > .chatRight__inner {
  display: flex;
  align-items: flex-end;
}
.chatRight__inner span img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
.conversation-box .chatRight__items.you-sent span.time {
  padding-right: 10px;
}
.conversation-box .chatRight__items.you-sent span img {
  margin-left: 10px;
}
.conversation-box .chatRight__items.you-received span img {
  margin-right: 10px;
}
.conversation-box .chatRight__items.you-received span.time {
  padding-left: 10px;
}

.send-message-button {
  margin-left: 10px;
}

