@import "_app";

.navigation-layout {
  height: 100vh;
}

.navigation-content {
  margin-left: 0px;
  background-color: white;
  overflow: auto;
}

.navigation-header {
  background-color: $nav-header-color;
  padding: 0px;
}

.navigation-sidebar {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.244974);
}

.navigation-menu-item {
    background-color: $nav-menu-item-color;
}

.navigation-menu-item:hover {
  background-color: $nav-menu-item-hover-background-color;
  color: $nav-menu-item-hover-color;
}

.navigation-menu-item-selected {
  background-color:$nav-menu-item-selected-color;
  pointer-events: none;
}

.profile-picture {
  float: right;
  font-size: 30px;
}

.profile-name {
  float: right;
  margin-top: 15px;
  margin-left: 1%;
  font-size: 15px;
  line-height: 15px;
}

.profile-caret {
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  color: $profile-caret-color;
}

.dropdown-menu {
  border-radius: 5px;
  width: 300px;
}

// For mobile screens
.mentee-logo {
  background-color: $mentee-logo-color;
  float: left;
  height: 50px;
  width: 50px;
  margin: 7px 7px;
}

@media (min-width: 500px) {
  // For desktop screens
  .mentee-logo {
    background-color: $mentee-logo-color;
    float: left;
    height: 80px;
    width: 200px;
    padding: 8px;
  }
}

.navigation-mentee-flexbox {
  display: flex;
  justify-content: space-between;
}

.navigation-header-button {
  margin-right: 10px;
  width: 100%;
}
