// @import "_app";

// .navigation-layout {
//   height: calc(100vh - 88px);
// }

// .navigation-content {
//   position: relative;
//   background-color: white;
//   overflow-y: visible;

//   > div {
//     padding-bottom: 2em;
//   }
// }

.navigation-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  height: 48px;
  align-items: center;
  padding: 0 2em;
}

.navigation-sidebar {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}

// .navigation-menu-item {
//   background-color: $nav-menu-item-color;
// }

// .navigation-menu-item:hover {
//   background-color: $nav-menu-item-hover-background-color;
//   color: $nav-menu-item-hover-color;
// }

// .ant-tooltip-inner {
//   color: white;
// }
// .ant-collapse-content > .ant-collapse-content-box {
//   padding: 0;
// }

// .ant-list-split .ant-list-item {
//   border-bottom: 0.25px solid #e4bb4f;
// }

// .navigation-menu-item-selected {
//   background-color: $nav-menu-item-selected-color;
//   pointer-events: none;
// }

// .navigation-submenu {
//   color: $nav-submenu-color;
//   flex-direction: column;
// }

// .navigation-messages {
//   bottom: 0px;
//   width: 30%;
//   position: fixed;
//   right: 20%;
//   box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.19);
// }

// .message-box {
//   height: 60vh;
//   width: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

// .message-box .ant-list-item:hover {
//   box-shadow: 0 0 4px #eee;
//   cursor: pointer;
// }

// @media (max-width: 1050px) {
//   // For tablet screens
//   .navigation-messages {
//     width: 45%;
//   }
// }

// @media (max-width: 768px) {
//   // For mobile screens
//   .navigation-messages {
//     width: 75%;
//     right: 0;
//   }
// }

// .ant-drawer-header {
//   border-bottom: 0.25px solid #e4bb4f;
// }

// .ant-drawer-body {
//   padding-top: 10px;
// }

// .ant-drawer-footer {
//   text-align: center;
//   border-top: 0.25px solid #e4bb4f;
// }

// .ant-collapse-content {
//   border-top: 0.25px solid #e4bb4f;
// }

// .drawerHeader {
//   display: flex;
//   position: relative;
// }

// .drawerHeader span {
//   color: #7a7a7a;
//   font-size: 11px;
// }

// .profile-picture {
//   float: right;
//   font-size: 30px;
// }

// .profile-name {
//   float: right;
//   margin-top: 15px;
//   margin-left: 1%;
//   margin-right: 12px;
//   font-size: 15px;
//   line-height: 15px;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

// .profile-caret {
//   float: right;
//   margin-left: 1%;
//   margin-right: 1%;
//   color: $profile-caret-color;
//   min-width: 40px;
// }

// .dropdown-menu {
//   border-radius: 5px;
//   width: 300px;
// }

// .navigation-mentee-flexbox {
//   display: flex;
//   justify-content: space-between;
//   height: 88px;
// }

// .navigation-header-button {
//   margin-right: 10px;
// }

// .loadingIcon {
//   margin: 30px 0;
//   margin-bottom: 20px;
//   padding-top: 10%;
//   padding-left: 40%;
//   text-align: center;
//   border-radius: 4px;
// }

// .navigation-hamburger-btn {
//   border: none;
//   background-color: #fbecc1;
//   width: 64px;
//   height: 100%;
// }

// .mobile-nav-btn,
// .mobile-nav-btn-login-modal button {
//   width: 100% !important;
//   border: none;
//   box-shadow: none;
//   border-radius: 2px !important;
//   margin-bottom: 1.5em;
// }

// .drawer-btn-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   margin-top: 3em;
// }

// .notifications-icon {
//   font-size: 1.5em;
// }

// .notifications-section {
//   margin-right: 6px;
// }

.language-select-style {
  margin-right: 2em;
  font-weight: bold;
}

// For mobile screens
.mentee-logo {
  float: left;
  width: 50px;
}

.dark-mentee-logo g {
  fill: white;
}

@media (min-width: 501px) {
  // For desktop screens
  .mentee-logo {
    height: 90px;
    width: 100%;
    padding: 1em;
  }
}
