// For mobile screens
.mentor-profile-flexbox {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

@media (min-width: 768px) {
  // For desktop screens
  .mentor-profile-content-public {
    padding: 3%;
    width: 70%;
    background: linear-gradient(180deg, #FCF6E8 20%, white 20%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.245);
  }

  .mentor-profile-flexbox {
    display: flex;
    border-left: 15vh solid #FFF7E2;
    border-right: 15vh solid #FFF7E2;
    flex-direction: row;
    padding: 0;
  }

  .mentor-profile-videos {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.244974);
    width: 30%;
    min-height: 100%;
    padding: 2%;
  }

  .mentor-profile-videos-search {
    background: #F4F4F4;
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 5%;
    color: #828282;
  }

  .mentor-profile-videos-search input {
    background: #F4F4F4;
    color: #828282;
  }

  .mentor-profile-videos-divider {
    border: 1px solid #DADADA;
  }

  .pinned-video-default-preview {
    background: #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.244974);
    border-radius: 8px;
    width: 100%;
    height: 25vh;
  }

  .video-default-preview {
    background: #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.244974);
    border-radius: 8px;
    width: 100%;
    height: 15vh;
  }

  .video-border {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.244974);
  }
}