@import "_app";

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  background-color: white;
  padding: 2.5%;
}

.register-error {
  color: red;
}

.verify-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 40%;
  background-color: white;
  padding: 2.5%;
}

.verify-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-header-text {
  width: 70%;
}

.verify-header-text-description {
  color: gray;
}

.verify-header-image {
  width: 30%;
}

.verify-honeycomb {
  height: 100%;
  width: 100%;
}

.verify-resend-link, .verify-resend-link:focus {
  color: $mentee-button-regular;
  margin-left: 5px;
  padding: 0px;
  transition-duration: 0.4s;
}

.verify-resend-link:hover {
  color: $register-link-hover;
}
