.register-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.register-header-container {
    display: flex;
    min-height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

.register-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

@media (max-width: 768px) {
    .modal-inner-container {
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-right: 41px;
    }

    .modal-input-container {
        flex-direction: column;
        margin: 0;
    }

    .modal-education-add-container {
        flex-direction: row;
    }

    .modal-education-delete-container {
        flex-direction: row;
    }
}