.register-content {
  padding-top: 2%;
  padding-bottom: 4%;
}

.register-header-container {
  display: flex;
  min-height: 120px;
  width: 100%;
  margin-bottom: 20px;
}

.Bio textarea {
  max-height: 100px;
  border: 1px solid #eee;
}
.sdgs {
  display: flex;
  flex-direction: column;
}

.register-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}
.sdgtext {
  flex: 1 1 0%;
  font-weight: bold;
  color: rgb(130, 130, 130);
  padding-left: 11px;
  background-color: rgb(255, 253, 245);
}
@media (max-width: 768px) {
  .modal-inner-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    margin-right: 41px;
  }

  .modal-input-container {
    flex-direction: column;
    margin: 0;
  }

  .modal-education-add-container {
    flex-direction: row;
  }

  .modal-education-delete-container {
    flex-direction: row;
  }
}
.btn-r2 {
  display: flex;
  justify-content: flex-end;
  margin: 0px 40px;
}
