.trainingDesc {
  padding: 20px;
  opacity: 70%;
  padding: 12px;
}

.train_list li {
  padding: 33px;
  display: flex;
  flex-direction: column !important;
  margin-bottom: 20px;
}
.chapter {
  padding-left: 5px;
}
.external-link {
  max-width: 600px;
  overflow-wrap: break-word;
}
